{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{# Initial if for differenct blocks #}
{% if  attributes.id =="block-movietheme-languageswitcher" %}
  {% set lenguage=true %}
  {% else %}
  {% set lenguage=false %}
{% endif %}
{% if attributes.id=="block-movietheme-content" %}
<div class="{{ attributes.id }} block-container align-items-center rounded-3 border shadow-lg">
  {% elseif  attributes.id =="block-movietheme-languageswitcher"%}
      <div class=" {{configuration.label}} {{configuration.label_display}} lenguage-block block-container">
  {% else %}
      <div class=" {{configuration.label}} {{configuration.label_display}} block-container">
  {% endif %}

  {#  #}
  <div{{ attributes }}>
  {{ title_prefix }}
      {% if label %}
        {% if  attributes.id =="block-movietheme-languageswitcher"%}
          <div id="lenguage-short" class="lenguage-window showing">
            <img class="lenguage-image-icon" src="https://cdn-icons-png.flaticon.com/512/3269/3269817.png" alt=""/>
          </div>
        {% endif %}
        <div {% if lenguage %} 
              class="lenguage-block-inner hidden"
                {% endif %}>
          <h2{{ title_attributes }}>{{ label }}</h2>
        </div>
      {% endif %}
  <div {% if lenguage %} 
    class="lenguage-block-inner hidden"
      {% endif %}
  >
    {{ title_suffix }}
    {% block content %}
      {{ content }}
    {% endblock %}

    {% if lenguage %} 
      <div class="hide-block">
        <button class="btn btn-dark btn-lg">Hide me</button>
      </div>
    {% endif %}
  </div>
</div>
</div>
