{{ attach_library('moviemodule/movielibrary') }}
{{ attach_library('moviemodule/bootstrap') }}
<h1 id="api-title">List of Actors/Director</h1>
</br>

<div class="grid">
  {% for value in test_var %}
    <div class="card">
      <div class="profile-image card-img-top">
        <img style="max-width: 150px;" src="https://image.tmdb.org/t/p/w500{{ value.profile_path }}">
      </div>
      <div class="card-title">
        <h2> {{ value.name }}</h2>
      </div>
      <div class="card-body">
          <div class="relevant-movies hiden">
            <p> Known role: {{ value.known_for_department }}</p>
              {% if value.known_for[1].original_title is defined or value.known_for[1].original_title is defined %}
                <ul class="movies-related">
                    {% for value2 in value.known_for %}
                      <li> {{ value2.original_title }} </li>
                    {% endfor %}
                </ul>
              {% endif %}

          </div>
        <a class="button btn btn-primary" href="/movieapi/actor/create/{{ value.id }}">Create and edit</a>
        </div>
    </div>
  {% endfor %}
</div>
